*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
}
.link{
    display: flex;
    width: 100%;
    margin-left: 10px;
}
.videos{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
.video{
    display: flex;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-left: 10px;
}
